body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
.menu{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(96, 0, 0);
}
.menu  a{
    color: white;
}
.menu  a{
    text-decoration: orange;
}
.conteudo{
    width: 700px;
    border: 1px solid rgb(96, 0, 0);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}
form{
    width: 700px;
    border: 1px solid rgb(96, 0, 0);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}
input[type=text]{
    border-width: 1px;
    border-color: black;
    background-color: whitesmoke;
    border-bottom: 2px solid;
    width: 98%;
    height: 35px;
    border-radius: 4px;
}
input[type=submit]{
    background-color: rgb(96, 0, 0);
    padding: 8px;
    width: 15%;
    color: white;
    font-size: 15px;
}
.consulta{
    width: 700px;
    border: 1px solid rgb(96, 0, 0);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}
table, td, th{
    border: 1px solid rgb(96, 0, 0);
}
table{
    font-size: 20px;
    width: 100%;
}

table th{
    background-color: rgb(96, 0, 0);
    padding: 5px;
    color: white;
}
